<h2 class="ui center aligned icon header">
  <i class="circular red paper plane outline icon"></i>
  Chat
</h2>


<div class="ui grid">

<div class="four wide column">
  <div class="ui fluid raised card chatbox">
    <div class="content">
      <div class="ui inverted vertical fluid pointing menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
  </div>
</div>

<div class="twelve wide column">

  <div class="ui fluid raised card chatbox">
    <div class="content">
      <div class="ui feed">
        <h4 class="ui header">Test Chat</h4>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Elliot Fu</em>: Welcome everyone.
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Stevie Feliciano</em>: Look at these messages!
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Helen Troy</em>: Wow I can see it!
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Christian Rocha</em>: test test
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="extra content">
      <form class="ui reply form">
        <div class="field">
        <div class="ui input fluid icon">
          <input type="text" placeholder="Send a message...">
          <i class="bordered blue inverted icon paper plane"></i>
        </div>
        </div>
      </form>
    </div>
  </div>

  </div>

</div>